body { 
    margin: 0; 
    overflow: hidden; 
    background-color: #000; 
    font-family: sans-serif;
}

.hud-box { 
    position: absolute; 
    top: 20px;
    left: 20px;
    background: rgba(255,255,255,0.1); /* Fondo muy suave */
    border: 1px solid rgba(255,255,255,0.3); 
    color: #aaa; /* Texto gris para no distraer */
    padding: 10px; 
    pointer-events: none; 
    font-size: 12px;
    z-index: 100;
}
